* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:black;
    font-size:20px;
}

.section1 img{
    width: 100%;
    padding: 140px;
}

body{
    background-color:white;
}

.navbar ul {
    display: flex;
    gap: 25px;
    line-height: 1.5;
}

.footer {
    background-color: #2E2E2E;
    padding: 10px 0;
    color: #f2f2f2;
}

.section2-title{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 140px;
    margin-right: 140px;
    color: #707070;
    letter-spacing: 0.4px;
    font: normal normal 100 40px/53px Archy EDT;
}

.footer a{
    color: #f2f2f2;
}

.section3-title{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 140px;
    margin-right: 140px;
    color: #707070;
    letter-spacing: 0.4px;
    font: normal normal 100 40px/53px Archy EDT;
}

.down{
        float: left;
        width: 33.33%;
        padding: 5px;
    }

.down1{
    float: left;
    width: 33.33%;
    padding: 5px;
}

.section2, .section3 {
    overflow: hidden;
}